<head>
    <link rel="icon" sizes="16x16" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta charset="UTF-8">
    <meta name="description" content="Futbal statistics">
    <meta name="keywords" content="futbal, sport, statistics, futbal statistics, sport statistics">
    <meta name="author" content="Matej Dujava">
</head>

<template id="layout" name="layout">
    <div class="nav-container">
        {{> nav}}
    </div>
    <div class="main-container">
        {{> yield}}
    </div>
    <footer class="container-fluid">
        {{> footer}}
    </footer>
</template>
